@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  margin: auto;
  background: #000000;
  display: grid;
  place-items: center;
}
header {
  position: relative;
  width: 100%;
  height: 100vh;
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
header .menu_side .first {
  background: linear-gradient(rgb(26, 26, 26), rgb(10, 10, 10));
  width: 96%;
  margin: auto;
  border-radius: 0.8rem;
  padding-bottom: 1.8rem;
}
header .menu_side .first h1:hover {
  color: grey;
  transition: 0.3s linear;
}
header .menu_side .playlist {
  border-radius: 0.8rem;
  width: 96%;
  padding-bottom: 1.8rem;
}
header .menu_side,
.song_side {
  width: 25%;

  /* border: 1px solid #fff; */
  background: #000000;
  /* box-shadow: 5px 0px 2px #090f1f ; */
  color: #fff;
}
header .menu_side {
  display: flex;
  height: 85%;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.4rem;
}
header .menu_side .menu_song {
  overflow-y: scroll;
  border-radius: 1rem;

  top: 0;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #232121;
  border-radius: 1rem;
}
header .song_side {
  width: 75%;
  background: #000000;
}
header .master_play {
  width: 100%;
  height: 13%;
  /* border:1px solid #fff; */
  background: #000000;
  /* box-shadow: 0px 3px 8px #090f1f; */
}
header .menu_side .first .heading .active .bi {
  display: flex;
  margin-right: 2rem;
}
header .menu_side .first .heading h1 {
  padding-top: 1rem;
  padding: 0.4rem;
  font-size: 2rem;
  margin: 0.8rem 0rem 0rem 1rem;
  font-weight: 500;
  cursor: pointer;
}
header .menu_side .playlist {
  margin: 2rem 0rem 0rem 1rem;
  width: 96%;
}
header .menu_side .playlist h4 {
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  margin-top: 0.4rem;
  margin-left: 0.8rem;
  color: #4c5262;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s linear;
}
header .menu_side .playlist h4:hover {
  color: #fff;
}
header .menu_side .playlist h4 span {
  position: relative;
  margin-right: 3.5rem;
}
header .menu_side .playlist h4 span::before {
  content: " ";
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  border: 0.2rem solid #4c5262;
  border-radius: 50%;
  top: -0.4rem;
  transition: 0.3s linear;
}
header .menu_side .playlist h4:hover span::before {
  border: 0.2rem solid #fff;
}
header .menu_side .playlist h4 .bi {
  display: none;
}
header .menu_side .playlist .active {
  color: #fff;
}
header .menu_side .playlist .active span {
  display: none;
}
header .menu_side .playlist .active .bi {
  display: flex;
  margin-right: 2rem;
}
header .menu_side .menu_song {
  width: 100%;
  margin-top: 0;
}
header .menu_side .menu_song li {
  list-style-type: none;
  position: relative;
  padding: 0.5rem 0rem 0.5rem 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s linear;
}
header .menu_side .menu_song li:hover {
  background: rgb(105, 105, 105, 0.1);
}
header .menu_side .menu_song li span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4c5262;
}
header .menu_side .menu_song li img {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 2.5rem;
}
header .menu_side .menu_song li h5 {
  font-size: 1.1rem;
  margin-left: 1.5rem;
  width: 17rem;
  /* border: 1px solid #fff; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header .menu_side .menu_song li h5 .subtitle {
  font-size: 0.9rem;
  color: #4c5262;
}
header .menu_side .menu_song li .bi {
  font-size: 14px;
  position: absolute;
  right: 1.5rem;
}
header .master_play {
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
}
header .master_play .wave {
  width: 3rem;
  height: 3rem;
  /* border: 1px solid #fff; */
  padding-bottom: 0.5rem;
  display: flex;
  align-items: flex-end;
  margin-right: 1rem;
}
header .master_play .wave .wave1 {
  width: 0.3rem;
  height: 1rem;
  background: #ffffff;
  margin-right: 0.3rem;
  border-radius: 1rem 1rem 0rem 0rem;
  animation: unset;
}
header .master_play .wave .wave1:nth-child(2) {
  height: 1.3rem;
  margin-right: 3.5px;
  animation-delay: 0.4s;
}
header .master_play .wave .wave1:nth-child(3) {
  height: 0.8rem;
  animation-delay: 0.8s;
}

/*JAVASCRIPT CLASSES--------------------*/

header .master_play .active1 .wave1 {
  animation: wave 0.7s linear infinite;
}

header .master_play .active1 .wave1:nth-child(2) {
  animation-delay: 0.4s;
}
header .master_play .active1 .wave1:nth-child(3) {
  animation-delay: 0.8s;
}
@keyframes wave {
  0% {
    height: 1rem;
  }
  50% {
    height: 1.5rem;
  }
  100% {
    height: 1rem;
  }
}

header .master_play img {
  width: 5.3rem;
  height: 6rem;
  border-radius: 0.5rem;
}
header .master_play h5 {
  width: 13rem;
  /* border: 1px solid #fff; */
  margin-left: 1.5rem;
  color: #fff;
  line-height: 1.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.3rem;
}
header .master_play h5 .subtitle {
  font-size: 1.1rem;
  color: #4c5262;
  width: 100%;
  overflow: hidden;
  /* text-overflow: ; */
  white-space: nowrap;
}
header .master_play .setting .icon {
  font-size: 3rem;
  color: #fff;
  margin: 0rem 2rem 0rem 4rem;
  outline: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .master_play .icon .bi {
  cursor: pointer;
  outline: none;
}
header .master_play .setting .icon .shuffle {
  font-size: 1.7rem;
  margin-right: 1rem;
  width: 1.75rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
header .master_play .setting .icon #download_music {
  font-size: 2rem;
  margin-left: 1rem;
}
header .master_play .icon .bi:nth-child(3) {
  padding: 0.1rem 0.5rem 0rem 0.7rem;
  margin: 0rem 0.5rem;
}
header .master_play .setting .system span {
  color: #fff;
  width: 3.2rem;
  /* border: 1px solid #fff; */
  font-size: 1.1rem;
  font-weight: 400;
}
header .master_play .setting .system #currentStart {
  margin: 0rem 0rem 0rem 2rem;
}
header .master_play .setting .system .bar {
  position: relative;
  width: 70%;
  height: 0.5rem;
  background: rgb(105, 105, 105, 0.1);
  margin: 0rem 1.5rem 0rem 1rem;
  border-radius: 1.5rem;
}
header .master_play .setting .system .bar .bar2 {
  position: absolute;
  background: #fff;
  border-radius: 1.5rem;
  width: 50%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}
header .master_play .system .bar .dot {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: #fff;
  border-radius: 50%;
  left: 0%;
  top: -0.15rem;
  transition: 1s linear;
}
header .master_play .setting .system .bar .dot::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  left: -7px;
  top: -6.5px;
  box-shadow: inset 0px 0px 3px #fff;
}
header .master_play .setting .system .bar input {
  position: absolute;
  width: 100%;
  top: -0.7rem;
  left: 0;
  cursor: pointer;
  z-index: 9999999999999999999999999999999999999999;
  opacity: 0;
}

header .master_play .setting {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .master_play .system {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
header .master_play .vol {
  position: relative;
  width: 10%;
  height: 0.5rem;
  background: rgb(105, 105, 105, 0.1);
  margin-left: 5rem;
  border-radius: 1.5rem;
}
header .master_play .vol .bi {
  position: absolute;
  color: #fff;
  font-size: 2.5rem;
  top: -1.7rem;
  left: -3rem;
}
header .master_play .vol input {
  position: absolute;
  width: 100%;
  top: -0.6rem;
  left: 0;
  cursor: pointer;
  z-index: 999999999999999999;
  opacity: 0;
}
header .master_play .vol .vol_bar {
  position: absolute;
  background: #fff;
  border-radius: 1.5rem;
  width: 50%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}
header .master_play .vol .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  left: 0%;
  top: -1.5px;
  transition: 1s linear;
}
header .master_play .vol .dot::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  left: -7px;
  top: -5px;
  box-shadow: inset 0px 0px 3px #fff;
}
header .song_side {
  width: 74%;
  height: 85%;
  margin: auto;
  border-radius: 0.8rem;
  background: linear-gradient(rgb(13, 13, 13), rgb(10, 10, 10));
}
header .song_side {
  z-index: 2;
  overflow-y: scroll;
}
header .song_side::before {
  content: " ";
  position: absolute;
  width: 90%;
  height: 30rem;
  /* background: url("bg1.png"); */
  border-radius: 17%;
  left: 60%;
  background-repeat: no-repeat;
  z-index: -1;
}

header .song_side nav {
  margin-top: 2rem;
  width: 100%;
  height: 12%;
  background: linear-gradient(rgb(36, 36, 36), rgb(10, 10, 10));
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  border-radius: 5px;
  z-index: 2;
  position: sticky;
  top: 0;
  margin: auto;
  display: flex;
  margin-top: 0.3rem;
  margin-bottom: 2.5rem;
  align-items: center;
  justify-content: space-between;
}
header .song_side nav ul {
  display: flex;
}
header .song_side nav ul li {
  list-style: none;
  position: relative;
  font-size: 1.3rem;
  cursor: pointer;
  margin-right: 2.5rem;
  background-color: #242424;
  border-radius: 2rem;
  font-weight: 500;
  padding: 1rem;
  padding-left: 18px;
  padding-right: 18px;
}
header .song_side nav ul li:hover {
  background-color: #3f3f3f;
  transition: 0.4s linear;
  font-weight: 500;
}
header .song_side nav ul li:nth-child(1) {
  background-color: #3f3f3f;
}
header .song_side nav ul li span {
  position: absolute;
  width: 100%;
  height: 0.25rem;
}
header .song_side nav .search {
  position: relative;
  width: auto;
  padding: 0.1rem 1rem;
  border-radius: 2rem;
  border: 1px solid #fff;
}
header .song_side nav .search::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  backdrop-filter: blur(5px);
  z-index: -1;
}
header .song_side nav .search .bi {
  font-size: 1.3rem;
  padding: 0.3rem 0rem 0rem 0.5rem;
}
header .song_side nav .search input {
  border: none;
  background: none;
  outline: none;
  padding: 0rem 0.5rem;
  color: #fff;
  font-size: 1.2rem;
}
header .song_side nav .user {
  position: relative;
  height: 2.5rem;
  /* border:1px solid #fff; */
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}
header .song_side nav .user img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  margin-top: 0.5rem;
}
header .song_side nav .user button {
  height: 2.8rem;
  width: 15rem;
  line-height: 1.4rem;
  font-size: 1.4rem;
  border-radius: 20px;
  font-weight: bolder;
  border: none;
}
/* --------------------------------------All navs of song side----------------------------------------- */
.content .nav2 {
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1rem;
}
.content .nav2 h3 {
  max-width: 16rem;
  font-size: 2rem;
}
.content .nav2 h4 {
  font-size: 1.5rem;
}
.content .nav2 h4:hover {
  text-decoration: underline;
  transition: 0.3s linear;
}
.content .nav2 h3:hover {
  text-decoration: underline;
  transition: 0.3s linear;
}
.content .nav3 {
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1rem;
}
.content .nav3 h3 {
  margin-top: 20px;
  font-size: 2rem;
  margin-bottom: 15px;
}
.content .nav3 h4 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 15px;
}
.content .nav3 h4:hover {
  text-decoration: underline;
  transition: 0.3s linear;
}
.content .nav3 h3:hover {
  text-decoration: underline;
  transition: 0.3s linear;
}
.content .nav4 {
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1rem;
}
.content .nav4 h3 {
  margin-top: 20px;
  font-size: 2rem;
  margin-bottom: 15px;
}
.content .nav4 h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 20px;
}
.content .nav4 h4:hover {
  text-decoration: underline;
  transition: 0.3s linear;
}
.content .nav4 h3:hover {
  text-decoration: underline;
  transition: 0.3s linear;
}
.content .nav5 {
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1rem;
}
.content .nav5 h3 {
  margin-top: 20px;
  font-size: 2rem;
  margin-bottom: 15px;
}
.content .nav5 h4 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 15px;
}
.content .nav5 h4:hover {
  text-decoration: underline;
  transition: 0.3s linear;
}
.content .nav5 h3:hover {
  text-decoration: underline;
  transition: 0.3s linear;
}
/* ----------------------------------------------------------------------------------------------------- */
/* -----------------------------------------Main div of all sections-------------------------------------- */
.content .mixes {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
}
.content .recommends {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
}
.content .albums {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
}
.content .artists {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
}
/* ------------------------------------All mini divs of song side----------------------------------------- */
.content .mixes .mix1 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .mixes .mix2 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .mixes .mix3 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .mixes .mix4 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .mixes .mix5 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .recommends .recom1 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .recommends .recom2 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .recommends .recom3 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .recommends .recom4 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .recommends .recom5 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .albums .album1 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .albums .album2 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .albums .album3 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .albums .album4 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .albums .album5 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .artists .artist1 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .artists .artist2 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .artists .artist3 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .artists .artist4 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
.content .artists .artist5 {
  width: 18rem;
  height: auto;
  border-radius: 8px;
}
/* --------------------------------------------------------------------------------------------------------- */
/* -------------------Images section of song side---------------------------------------------------------- */
.mixes img {
  padding: 1rem 1rem 0.5rem 1rem;
  height: 18rem;
  width: 100%;
  margin: auto;
  border-radius: 15px;
}
.recommends img {
  padding: 1rem 1rem 0.5rem 1rem;
  height: 18rem;
  width: 100%;
  margin: auto;
  border-radius: 15px;
}
.albums img {
  padding: 1rem 1rem 0.5rem 1rem;
  height: 18rem;
  width: 100%;
  margin: auto;
  border-radius: 15px;
}
.artists img {
  padding: 1rem 1rem 0.5rem 1rem;
  height: 18rem;
  width: 100%;
  margin: auto;
  border-radius: 50%;
}
/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------All h5 and h6 of song side--------------------------------------- */
.content .mixes h5 {
  margin-top: 0.4rem;
  font-size: 1.4rem;
  padding-left: 0.4rem;
  font-weight: 400;
  text-align: left;
}
.content .mixes h6 {
  width: 18rem;
  font-weight: light;
  font-size: 1.2rem;
  margin-top: 5px;
  text-overflow: ellipsis;
  color: #474747;
}
.content .recommends h5 {
  margin-top: 0.4rem;
  font-size: 1.4rem;
  padding-left: 0.4rem;
  font-weight: 400;
  text-align: left;
}
.content .recommends h6 {
  width: 18rem;
  font-weight: light;
  font-size: 1.2rem;
  padding-left: 0.4rem;
  margin-top: 5px;
  text-overflow: ellipsis;
  color: #474747;
}
.content .albums h5 {
  margin-top: 0.4rem;
  font-size: 1.4rem;
  padding-left: 0.4rem;
  font-weight: 400;
  text-align: left;
}
.content .albums h6 {
  width: 18rem;
  font-weight: light;
  font-size: 1.2rem;
  padding-left: 0.4rem;
  text-overflow: ellipsis;
  margin-top: 5px;
  color: #474747;
}
.content .artists h5 {
  margin-top: 0.4rem;
  font-size: 1.4rem;
  padding-left: 0.4rem;
  font-weight: 400;
  text-align: center;
}
.content .artists h6 {
  width: 18rem;
  margin-top: 5px;
  font-weight: light;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  text-overflow: ellipsis;
  color: #474747;
}
/* ----------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------All hovering effects---------------------------------- */
.content .mixes .mix1:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .mixes .mix2:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .mixes .mix3:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .mixes .mix4:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .mixes .mix5:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .mixes .mix2:hover {
  img {
    opacity: 0.69;
  }
}
.content .mixes .mix3:hover {
  img {
    opacity: 0.69;
  }
}
.content .mixes .mix4:hover {
  img {
    opacity: 0.69;
  }
}
.content .mixes .mix5:hover {
  img {
    opacity: 0.69;
  }
}
.content .recommends .recom1:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .recommends .recom2:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .recommends .recom3:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .recommends .recom4:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .recommends .recom5:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .recommends .recom2:hover {
  img {
    opacity: 0.69;
  }
}
.content .recommends .recom3:hover {
  img {
    opacity: 0.69;
  }
}
.content .recommends .recom4:hover {
  img {
    opacity: 0.69;
  }
}
.content .recommends .recom5:hover {
  img {
    opacity: 0.69;
  }
}
.content .albums .album1:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .albums .album2:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .albums .album3:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .albums .album4:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .albums .album5:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .albums .album2:hover {
  img {
    opacity: 0.69;
  }
}
.content .albums .album3:hover {
  img {
    opacity: 0.69;
  }
}
.content .albums .album4:hover {
  img {
    opacity: 0.69;
  }
}
.content .albums .album5:hover {
  img {
    opacity: 0.69;
  }
}
.content .artists .artist1:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .artists .artist2:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .artists .artist3:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .artists .artist4:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .artists .artist5:hover {
  img {
    opacity: 0.69;
  }
  background: linear-gradient(rgba(28, 28, 28, 0.704), rgba(16, 16, 16, 0.944));
  transition: 0.3s ease-in-out;
}
.content .artists .artist2:hover {
  img {
    opacity: 0.69;
  }
}
.content .artists .artist3:hover {
  img {
    opacity: 0.69;
  }
}
.content .artists .artist4:hover {
  img {
    opacity: 0.69;
  }
}
.content .artists .artist5:hover {
  img {
    opacity: 0.69;
  }
}
/* ----------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------Media Queries----------------------------------------------- */
@media only screen and (max-width: 1200px) {
  header .song_side {
    width: 100%;
  }
  .content .mixes {
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .content .recommends {
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .content .albums {
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    width: auto;
  }
  .content .artists {
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  header .song_side .firstnav {
    display: none;
    z-index: 0;
  }
  .recommmends h3 {
    font-size: 12px;
  }
  .recommmends h4 {
    font-size: 10px;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media (min-width: 931px) and (max-width: 1200px) {
  header .menu_side {
    display: none;
  }
}
/* ------------------------------media queries--------------------------------------- */
@media (max-width: 930px) {
  .hamburger {
    display: block;
    margin-right: 15px;
  }
  .bar {
    color: #fff;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  header .menu_side {
    position: fixed;
    left: -100%;
    margin-top: 68px;
    z-index: 99999999999999999999;
    transition: 0.3s;
    width: 100%;
    height: 100vh;
    background-color: black;
  }
  .menu_side.active {
    left: 0;
  }
  .user {
    display: none;
  }
  .exp {
    display: none;
  }
  .firstnav button {
    display: none;
  }
  .firstnav i {
    display: none;
  }
  .firstnav img {
    display: none;
  }
}
/* -------------------------------------------------------- */
